body.showCart .cartTabnoItems{
    inset: 80px 0 0 auto;
}

body.showCart .container{
    transform: translateX(-450px);

}
.container{
    transition: transform .5s;
}
.cartTabnoItems{
    padding: 10px;
    z-index: 2;
    width: 450px;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    inset: 80px -450px 0 auto;
    display: grid;
    border-left:black solid 2px;
    grid-template-rows: 70px 1fr 70px 50px 10px 50px 20px;
    transition:.5s;
}
.cartTabnoItems{
    grid-template-rows: 70px 1fr 50px 20px;
}
.cartTabnoItems p{
text-align: center;
}
.cartTabnoItems h1{
    margin: 0 10px 0 10px;
    padding: 20px;
    margin: 0;
    font-weight:300;
    border-bottom: rgba(0, 0, 0, 0.204) solid .5px;
}
.cartTabnoItems .totalPrice{
    border-top: rgba(0, 0, 0, 0.204) solid .5px;;
}
.cartTabnoItems .totalPrice h2,
.cartTabnoItems .totalPrice h3{
    white-space: nowrap;
}
.cartTabnoItems .btn2{
    border-top: rgba(0, 0, 0, 0.204) solid .5px;;
    padding-top:10px;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-column-gap: 10px;
    margin-left:10px;
    margin-right:10px;
}
.cartTabnoItems .btn2 button{
    background-color: var(--green-color);
    border:none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px !important;
    border: var(--green-color) solid 3px;
    transition: background-color 0.1s;
}
.cartTabnoItems .btn2 .check{
    background-color: var(--green-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.cartTabnoItems .btn2 .check2{
    background-color: var(--green-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.cartTabnoItems .btn2 button:hover{
    transition:.5;
    background-color:transparent;
}
.cartTabnoItems .btn3{
    display: grid;
    margin-left:10px;
    margin-right:10px;
}
.cartTabnoItems .btn3 button{
    background-color: var(--bg-color);
    border:var(--green-color) solid 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px !important;
    transition: background-color 0.1s;
}
.cartTabnoItems .btn3 button:hover{
    transition:.5;
    background-color:var(--green-color);
}
.cartTabnoItems .listCart .item img{
    width: 100%;
}
.cartTabnoItems .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}